@import url(./_reset.css);

.hero__container {
  text-align: center;
}
.hero__container h1 {
  font-size: 4rem;
}
.hero__container h1 span {
  display: block;
}

.section__container {
  padding: 6rem 2rem;
  text-align: center;
}
.section__title {
  font-size: 3rem;
}

.btn__start {
  cursor: pointer;
  padding: 0.8rem 2rem;

  background: #069;
  color: #fff;
  border: none;

  margin-top: 2rem;
}

.box__display h3 {
  font-size: 3rem;
}
